<div id="film-score" class="margin-top content">
  <% videos.each do |video| %>
    <div class="content-item">
      <div class="video-responsive">
        <%= video.iframe %>
      </div>

      <div class="video-info">
        <h5><strong><%= video.title %></strong> (<%= video.year %>)</h5>
        <h6><em><%= video.category %> by <%= video.creator %></em></h6>
        <h6>credits: <%= video.credit %></h6>
      </div>
    </div>
  <% end %>
</div>
